.header {
    padding: 2rem 0;
    background-color: #E4E4E4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.burgerIcon{
    cursor: pointer;
    display: none;
}
.burgerLine {
    width: 25px;
    height: 3px;
    background-color: #212121;
    margin: 5px;
}


@media only screen and (max-width: 768px) {
    .header {
        justify-content: flex-end;
        padding: 1.5rem;
    }
    .burgerIcon {
        display: block;
    }
}


@media only screen and (max-width: 600px) {
    .header {
        padding: 1rem;
    }
}

