.contactsBlock {
    background-color: #eaeaea;
}
.contactsContainer {
}

.form {
    margin-top: 1rem;
}
.formElement {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.formElement label {
    font-size: 1.6rem;
}
.contactsInput {
    width: 100%;
    padding: 1rem 2rem;
}
@media only screen and (max-width: 500px) {
    .form{
        padding: 1.2rem;
    }
}


