.contactsBlock {
    background-color: lightblue;
}

.contactsContainer {

}

.title {
    text-align: center;
    background-color: white;
    font-size: 1.8rem;
}

.form {
    border: 1px solid black;
}

.formElement {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.formElement label {
    font-size: 1.6rem;
}
.contactsInput {
    width: 100%;
    padding: 1rem 2rem;
}

