.hireMeBlock {
    height: 30vh;
    background-color: lightgoldenrodyellow;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}

.title {
    background-color: white;
    font-size: 1.8rem;
}


