.hireMeBlock {
    padding: 3rem 1rem;
    background-color: #c7c7c7;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}





