.buttonMain {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: white;
    color: green;
    font-size: 1.5rem;
    margin: 1rem .5rem;
}
.buttonMain:hover {
    background-color: #ddd;

}
.buttonMain:active{
    background-color: #ccc;
}
@media only screen and (max-width: 600px) {
    .buttonMain {
        padding: 7px 15px;
        font-size: 1.4rem;
    }
}