.skillsBlock {
    background-color: #dadada;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.title {

}

.skills {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: space-between;

}

@media only screen and (max-width: 1153px) {
    .skills {
        justify-content: space-evenly;
    }
}
