.footerBlock {
    background-color: #c9c9c9;

}

.footerContainer {

}



.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
}

.socialsItem {

}

.copyrightText {
    text-align: center;
    font-size: 1.4rem;
}
.icon{
    color: black;
    height: 30px;
}
@media only screen and (max-width: 600px) {
    .socials{
        gap: 1rem;
    }
}
