.projectsBlock {
   padding: 2rem 1rem;
    background-color: #f5f5f5;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}



.projects {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: space-evenly;
}

